<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <link rel='stylesheet' href='/stylesheets/dataTables.bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' />
  </head>
  <body>
    {{{body}}}


    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.dataTables.js"></script>
    <script src="/javascripts/dataTables.bootstrap.js"></script>
    <script src="/javascripts/custom.js"></script>
  </body>
</html>
